<html>
<h1>
    Computer
</h1>
<ul>
    <% item.forEach(function(computer){ %>     
    <li> <%= computer.name %> <img width="100px" hieght="100px"src= <%= computer.photo %> ></li>
    <% }); %>
</ul>

</html>